*{
    box-sizing: border-box;
}

body{
    background: cornsilk;
    
    animation: colo 30s ease-in 0s infinite alternate-reverse;
}

.container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border:2px solid black;
    border-radius: 5px;
    box-shadow: 2px black;
    background: white;
}
@keyframes colo {
    0%{background-color: rgb(255, 0, 0);}
    16%{background-color: rgb(255, 255, 0);}
    32%{background-color: rgb(0, 255, 0);}
    48%{background-color: rgb(0, 255, 255);}
    64%{background-color: rgb(0, 0, 255);}
    80%{background-color: rgb(255, 0, 255);}
    100%{background-color: rgb(255, 0, 0);}


}
#a{
    padding: 30px 30px;
}

.form-wrapper{
    width: 100px;
    height: 100px;
    background: whitesmoke;
    padding: 19px 12px;
    box-shadow: 1px 1px 2px black;
    border: 10px solid black;
}

.input-group:not(first-child){
    padding:10px 0;
}
.input-group{
    width: 100%;
    padding: 10px 0;
    font-size: 17px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    border-radius: 100%;
}
label{
    display: block;
    padding-bottom: 4px;
}

#email{
    border-radius:5px;
    height: 30px;
}
#name{
    border-radius:5px;
    height: 30px;
}
#password{
    border-radius:5px;
    height: 30px;
}